			* {
				font-family: "微軟正黑體";
				/*color: black;*/
			}
			head{
				color: black;
			}
			body{
				width: 100%;
				height: 100vh;
				background: -webkit-linear-gradient(left top,#8E0E00,#1F1C18);
  				background: -o-linear-gradient(bottom right,#8E0E00,#1F1C18);
  				background: -moz-linear-gradient(bottom right,#8E0E00,#1F1C18);
  				background: linear-gradient(to bottom right,#8E0E00,#1F1C18) fixed;
  				/*background-color: #999;*/
  				overflow: scroll;
			}

			#preloader_modal{
				width:200px;
				top: 220px !important;
			}





			.navbar-fixed a.top {
			  /*height: 50px;*/
			  color: black;
			}

			nav.navbar {
			  background-color: #fff;
			  transition: 0.5s;
			  color: black;
			  /*height: 50px;*/
			}
			nav.navbar a {
			  transition: 0.5s;
			  color: black;
			}

			nav.navbar.at_top {
			  background-color: transparent;
			  color: white;
			}
			nav.navbar.at_top a, nav.navbar.at_top a:visited {
			  color: white;	
			}

			.switch label input[type=checkbox]:checked+.lever{
				background-color: rgba(0,0,0,0.2);
			}
			.switch label .lever{
				background-color: rgba(0,0,0,0.2);
			}
			.switch label input[type=checkbox]:checked+.lever:after{
				background-color: white;
			}





			.logo{
				height: 50px;
				margin-top: 7px;
			}

			#SignInmodal{
				width: 300px;
				height: 468px;
				background-color: #C30D23;
			}

			#SignInmodal input{
				color: white;
				width: 90%;
				margin-right: auto;
				margin-left: auto;
			}
			

			.logoarea{
				text-align: center;
				margin: 0px;
			}

			.loginlogo{
				width: 240px;
				margin: 40px 0px 10px 0px;
			}

			.logininput{
				margin: 0px;
				text-align: center;
			}

			.loginnotation{
				background-color: transparent !important;
				height: 122px !important;
				text-align: center !important;

			}

			.loginbtn{
				float: none !important;
				width: 228px;
				background-color: white !important;
				color: #C30D23;
			}

			.loginnotation p{
				font-size: 12px;
				font-weight: 100;
				color: white;
			}


			#SignUpmodal{
				width: 300px;
				height: 468px;
				background-color: white;
				color: #C30D23;
			}

			.signuplogo{
				width: 100px;
				margin-bottom: 16px;
			}

			#SignUpmodal input{
				border-bottom: 2px solid #C30D23 !important;
				width: 90%;
			}


			.signupnotation{
				background-color: white !important;
				height: 122px !important;
				text-align: center !important;
			}

			.signupbtn{
				float: none !important;
				width: 228px;
				background-color: #C30D23 !important;
				color: white;
				border: #C30D23 !important;
			}

			.signupnotation p{
				font-size: 12px;
				font-weight: 100;
				color: #C30D23;
				margin: 2px;
			}


			#SignUpmodal label{
				margin-left: 12px;
			}			


			#SignUpmodal input:not([type]):focus:not([readonly])+label, #SignUpmodal input[type=text]:focus:not([readonly])+label, #SignUpmodal input[type=password]:focus:not([readonly])+label, #SignUpmodal input[type=email]:focus:not([readonly])+label, #SignUpmodal input[type=url]:focus:not([readonly])+label, #SignUpmodal input[type=time]:focus:not([readonly])+label, #SignUpmodal input[type=date]:focus:not([readonly])+label, #SignUpmodal input[type=datetime]:focus:not([readonly])+label, #SignUpmodal input[type=datetime-local]:focus:not([readonly])+label, #SignUpmodal input[type=tel]:focus:not([readonly])+label, #SignUpmodal input[type=number]:focus:not([readonly])+label, #SignUpmodal input[type=search]:focus:not([readonly])+label, #SignUpmodal textarea.materialize-textarea:focus:not([readonly])+label{
				color: #C30D23 !important;
				margin-left: 12px;
			}

			#SignUpmodal .input-field label{
				color: #9e9e9e !important;
			}

			#SignUpmodal textarea{
				border-bottom: 2px solid #C30D23 !important;
				width: 90%;
			}






			#nav-mobile .login_part a, #nav-mobile .logout_part a{
				color: rgba(0,0,0,0.87) !important;
			}









			.btn{
				background-color: transparent;
				border: solid #ccc 1px;
				text-align: center;
			}
			.btn:hover {
				background-color: rgba(255,255,255,0.2);
			}

			.card .btn{
				border: solid rgba(0,0,0,0.87) 1px;
				text-align: center;
				color: rgba(0,0,0,0.87);
				margin-top: 10px;
			}

			.contentcolor{
            	color: white !important;
            	width: 90%;
			}


			.collection{
				background-color: transparent;
				margin: 0px 20px;
				border-top: none !important;
				border-left: none !important;
				border-right: none !important;
			}

			.collection-header{
				background-color: transparent !important;
				color: white !important;
				border: none !important;
			}

			.collection-item{
				background-color: rgba(0,0,0,0.2) !important;
				color: white !important;
				border: solid white 1px;
				padding: 0px;
				margin: 0px;
			}


			.collection li a{
				color: white !important;
			}

			#modal1{
				margin-right: auto;
				margin-left: auto;
			}

			#modal1 .btn{
				color: rgba(0,0,0,0.87);
			}



			@keyframes sliceIn {
			  0% {
			    transform: translateX(-50px);
			  }
			  100% {
			    transform: translateX(0px);
			  }
			}



			
			@media screen and (max-width: 1200px) {


			}

			@media screen and (max-width: 766px) {



			}
			
